body {
    font-family: Arial, Helvetica, sans-serif;
}
#card {
    background: lightgray;
    width: 500px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#cardHeader {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 60px;
}

#triangleTop {
    transform: skew(10deg);
    rotate: 10deg;
    height: 80px;
    width: 100%;
    background-color: #000;
}
#triangleBottom {
    transform: skew(10deg);
    rotate: 10deg;
    height: 80px;
    width: 100%;
    background-color: #000;
}