body {
    font-family: Arial;
    --main-color: rgb(219, 219, 219);
    --transparent-color: rgba(204, 204, 204, 0.253);
    background-color: rgb(180, 180, 180);
}
#card {
    background: var(--main-color);
    width: 500px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;  
}

#cardHeader {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 40px;
}

#year {
    margin: 0px;
    margin-top: 45px;
    position: absolute;
    z-index: 1;
    width: 500px;
}

.cover {
    transform: skew(8deg);
    rotate: 8deg;
    height: 80px;
    width: 505.5px;
    background-color: var(--main-color);
    position: absolute;
    left: -0.51%;
}

#coverTop {
    top: 15%;
}

#coverBottom {
    top: 80%;
}

#img {
    width: 500px;
    height: 520px;
    /* background-image: url(media/autumn.jpg); */
    position: absolute;
    top: 20%;
}

#currentDay {
    position: absolute;
    width: 230px;
    height: 300px;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: var(--transparent-color);
    backdrop-filter: blur(5px);
}

#dayNumber {
    text-align: center;
    font-size: 120px;
    margin: 0;
    margin-top: 50px;
}

#day {
    text-align: center;
    font-size: 30px;
}

#cardFooter {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 25px;
    width: 500px;
}
